div {
    border: 2px solid blue;
    margin-bottom: 5px;
    font-size: 20px;
}

img {
    width: 150px;
    height: 100px;
}

.vertical_baseline {
    vertical-align: baseline;
}

.vertical_bottom {
    vertical-align: bottom;
}

.vertical_top {
    vertical-align: top;
}

.vertical_middle {
    vertical-align: middle;
}

.vertical_length {
    vertical-align: 20px;
}

.vertical_percent {
    vertical-align: 100%;
}

p {
    border: 2px solid blue;
    font-size: 20px;
    margin-bottom: 5px;
    height: 200px;

    text-align: center;
    line-height: 200px;
}

p>img {
    vertical-align: middle;
}